<html>
    <head>
    	<title>Ola's blog</title>
    </head>
    <body>
        <div>
        	<h1><a href="">Django Girls Blog</a></h1>
        <div>

        <div>
        	<p>published: 14.06.2014, 12:14</p>
        	<h2><a href="">My first post</a></h2>
        	<p>I'm struggle studying Python/Django for being a Webdeveloper.</p>
        </div>

        <div>
        	<p>published: 14.06.2014, 12:14</p>
        	<h2><a href="">My second post</a></h2>
        	<p>Dear my little prince. The Little Prince by Antoine de Saint-Exupéry is my one of the best books.</p>
        </div>
    </body>
</html>